data/extracted_source_code
build/*
node_modules/*
package-lock.json
*.pyc
*.pth
*.zip
.DS_Store

.ipynb_checkpoints
outputs/*
logs/
logs*/
*.ipynb
*.txt
**/logs/
**/logs*/
**/dataset/
data/
models/
results/
*.gpickle
*.json
forensics/graph_hiddends/*