absl-py==0.12.0
astor==0.8.1
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
crytic-compile==0.2.0
decorator==4.4.2
dgl==0.6.1
docopt==0.6.2
gast==0.4.0
google-pasta==0.2.0
grpcio==1.37.0
h5py==3.2.1
idna==2.10
importlib-metadata==4.0.1
joblib==1.0.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.4
networkx==2.5.1
numpy==1.20.2
Pillow==8.3.1
prettytable==2.1.0
protobuf==3.15.8
py-solc==3.2.0
pydot==1.4.2
pygraphviz==1.7
pyparsing==2.4.7
pysha3==1.0.2
PyYAML==5.4.1
requests==2.25.1
scikit-learn==0.24.2
scipy==1.6.3
semantic-version==2.8.5
six==1.15.0
slither-analyzer==0.8.0
solc-select==0.2.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
threadpoolctl==2.1.0
torch==1.9.0+cpu
torchaudio==0.9.0
torchvision==0.10.0+cpu
tree-sitter==0.19.0
typing-extensions==3.7.4.3
urllib3==1.26.6
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.1
